@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@100;200;300&display=swap');
.wrap{
    width: 100%;
    overflow: auto;
    position: fixed;
    height: 100vh;
}
.left_wrap{
    width: 25%;
    height: 100vh;
    float: left;
    padding: 2vh;
    position: fixed;
}
.right_wrap{
    margin: 0px;
    width: 75%;
    float: right;
    padding: 2vh; 
    
    
}
/*------------------------  Profile Section ------------------------*/
.profile{
    background-color: rgba(255, 255, 255, 0.700);
    margin-left: 12%;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    display: inline-block;    
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}
.profile-name{
    line-height: 18px;
    padding: 20px;
}

.profile .name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.profile .job{
    font-size: 13px;
    color: #777777;
}

.profile-image {
    margin-top: -18px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile-image img{
    width: 100%;
}
ul.profile-information{
    position: relative;
    list-style: none;
    margin: 8px 0px 0px 5px;
}
ul.profile-information li{
    border-left: solid 2px #eee;
    padding: 0 0 8px 20px;
    font-size: 14px;
    color: #787878;
}
ul.profile-information li p{
    font-size: 13.5px;
    color: #7F7F7F;
    line-height: 12px;
}
ul.profile-information li:last-child{
    border: 0;
    margin-left: 2px;
    margin-top: -2px;
}
ul.profile-information li:before{
    content: "";
    border: solid 2px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 8px;
    margin-left: -25px;
    margin-top: 2px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
}
ul.profile-information li span{
    color: #000;
}


ul.profile-information li:first-child{
    padding-bottom: 10px;    
    padding-left: 30px;
    position: relative;
}

ul.profile-information li:first-child img {
    margin: -44px -44px;
    display: inline-block;
    position: absolute;
    width: 25px;
}

ul.profile-information li:first-child:before{
    /*content: '\f2c0';
    font-family: FontAwesome;
    font-size: 13.5px;*/
    margin-left: -51px;
    margin-top: -30px;
    margin-bottom: 0px;
    position: relative;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 11px 14px;
  box-shadow: 0px 2px 32px 0px rgba(4, 123, 248, 0.3);
}
.profile .site-btn{
    margin: 18px auto 30px;
    display: block;
}
.site-btn{
    display: block;
    width: 80%;
    background-color: violet;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 1px 9px;
    line-height: 35px;
}
.site-btn.black{
    background: #000 !important;
}
.site-btn:hover{
    transition: all ease 0.3s;   
 }
 
 .site-btn.icon{
     text-align: left;
     padding: 1px 6px 1px 19px;
 }
 
 .site-btn.icon i{
     color: #000;
     background: #fff;
     margin-left: 15px;
     border-radius: 50px;
     font-size: 11px;
     height: 27px;
     width: 27px;
     float: right;
     text-align: center;
     line-height: 29px;    
     margin-top: 4px;
 }
 ul.resume_list{
     list-style: none;

 }
 ul.resume_list li{
    margin: 0px;
    padding: 0;
}
.site-btn_r{
    display: block;
    width: 80%;
    background-color: violet;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 1px 9px;
    line-height: 35px;
}
.site-btn_r.icon{
    text-align: left;
    padding: 1px 6px 1px 19px;
}
.site-btn_r.icon i{
    color: #000;
    background: #fff;
    margin-left: 15px;
    border-radius: 50px;
    font-size: 11px;
    height: 27px;
    width: 27px;
    float: right;
    text-align: center;
    line-height: 29px;    
    margin-top: 4px;
}
/*------------------------  header Section ------------------------*/
.header{
    font-family: comfortaa;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.700);
    border-radius: 8px;
    overflow: auto;
    display: inline-block;
    padding: 0;
}
.tabs{
    padding-left: 0px;
    margin: 0px;
    float: left;
}
.tabs li{
    list-style: none;
    display: inline;
    padding-right: 10px;
    color: white;
}
.header ul li a{
    font-family: comfortaa;
    text-decoration: none;
    color: white;
}
.home-btn{
    font-family: comfortaa;
    text-decoration: none;
    font-size: 26px;
    background-color: violet;
    color: #fff;
    padding-left: 20px;
    padding-right: 15px;
    border-color: mintcream;
    padding-top: 5px;
    padding-bottom: 5px;
}
.social-icons {
    padding-top: 3px;
    float: right;
    padding-right: 15px;
}
.social-icons a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right: 10px;
}
.hamburger{
    padding-top: 3px;
    padding-right: 15px;
    float: right;
    font-size: 20px;
    display: none;
}
/*------------------------  page Section ------------------------*/
.contaner{
    width: 100%;
    margin-top: 3vh;
    background-color: rgba(255, 255, 255, 0.700);
    border-radius: 8px;
    padding: 20px;
    display: inline-block;    
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    text-align: justify;
}
/*------------------------home -  page Section ------------------------*/
#home{
    font-family: comfortaa;
}

/*------------------------resum -  page Section ------------------------*/
#resume_part_1 ul{
    position: relative;
 list-style: none;
}
#resume_part_1 ul li div:nth-child(1){
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: violet;
    border-radius: 17px;
    padding: 5px 15px;
    display: inline-block;
}
#resume_part_1 ul div{
    margin-left: 30px;
}
#resume_part_1 ul:before{
    position: absolute;
    content: '';
    background-color: #ddd;
    width: 2px;
    height: 250px;
}
#resume_part_1 ul li div:nth-child(1):before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid violet;
    border-radius: 50%;
    left: 36px;
}
#resume_part_2 ul{
    position: relative;
 list-style: none;
}
#resume_part_2 ul li div:nth-child(1){
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: violet;
    border-radius: 17px;
    padding: 5px 15px;
    display: inline-block;
}
#resume_part_2 ul div{
    margin-left: 30px;
}
#resume_part_2 ul:before{
    position: absolute;
    content: '';
    background-color: #ddd;
    width: 2px;
    height: 250px;
}
#resume_part_2 ul li div:nth-child(1):before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid violet;
    border-radius: 50%;
    left: 36px;
}
.c_h{
    height: 250px;
}
.design{
    overflow: auto;
    margin-bottom: 50px;
}
.d_skill_1{
    width: 50%;
    float: left;
    padding-right: 20px;
}
.d_skill_2{
    width: 50%;
    float: left;
    padding-left: 20px;
}
.cording{
    overflow: auto;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.c_skill_1{
    float: left;
    padding: 26px;
}
.c_skill_2{
    float: left;
    padding: 26px;
}
.c_skill_3{
    float: left;
    padding: 26px;
}
.c_skill_4{
    float: left;
    padding: 26px;
}
.c_skill_5{
    float: left;
    padding: 26px;
}
/*------------------------PORTFOLIO -  page Section ------------------------*/
.cards{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    margin-right: 3%;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.p_h{
    height: 170px;
}
.title{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.gallery{
    position: relative;
    width:100%;
    height:auto;
}
.gallery img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.gallery:after {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, transparent 50%, black 100%);
  }
  /*------------------------blog -  page Section ------------------------*/
.b_h{
    height: 200px;
}
  /*------------------------contact -  page Section ------------------------*/
  .contact{
      overflow: auto;
  }
  .left_contact{
      width: 50%;
      padding: 30px;
      float: left;
  }
  .text_box{
      width: 100%;
      margin: 20px;
  }
  .right_contact{
      width: 50%;
      float: right;
      padding: 30px;
  }
/*------------------------media quary ------------------------*/
  @media screen and (max-width:1104px){
    .left_wrap{
        display: none;  
    }
    .right_wrap{
        width: 100%;
    }
  
}
@media screen and (max-width:550px){
    .social-icons{
        display: none;  
    } 
}
@media screen and (max-width:500px){
    .tab_i{
        display: none;  
    }  
    .hamburger{
        display: block;
    }
    
}